<div *ngIf="asteroidDetail">
  <button (click)="goBack()">back to list</button>
  <h2 class="name title">{{ asteroidDetail.name }}</h2>
  <h4>Absolute magnitude:</h4>
  <h5>{{ asteroidDetail.absolute_magnitude_h }}H</h5>
  <h4>
    Estimated diameter:
  </h4>
  <h5>
    {{
      asteroidDetail.estimated_diameter.miles.estimated_diameter_min | number
    }}
    -
    {{
      asteroidDetail.estimated_diameter.miles.estimated_diameter_max | number
    }}
    miles
  </h5>
  <h4>
    Potentially hazardous:
  </h4>
  <h5>
    {{ asteroidDetail.is_potentially_hazardous_asteroid }}
  </h5>
  <h4>Sentry object:</h4>
  <h5>
    {{ asteroidDetail.is_sentry_object }}
  </h5>
  <h3 class="name title">Close approach history:</h3>
  <p>
    {{ asteroidDetail.name }} has been observed
    {{ asteroidDetail.close_approach_data.length | number }} times
  </p>

  <ul>
    <li *ngFor="let approach of asteroidDetail.close_approach_data">
      <p>Planet: {{ approach.orbiting_body | uppercase }}</p>
      <p>Distance: {{ approach.miss_distance.miles | number }} miles</p>
      <p>
        Speed: {{ approach.relative_velocity.miles_per_hour | number }} miles
        per hour
      </p>
      <p>Date: {{ approach.close_approach_date | date }}</p>
      <a
        class="link__blue"
        routerLink="/asteroids/{{ approach.close_approach_date }}"
        >see all asteroids on this date</a
      >
    </li>
  </ul>
</div>
<div *ngIf="loading"><app-loading></app-loading></div>
<div *ngIf="error">
  <app-error
    [errorStatus]="errorStatus"
    [errorMessage]="errorMessage"
  ></app-error>
</div>
