:root {
  --color--darkest: #1d1135;
  --color--dark: #0c164f;
  --color--pink: #ba1e68;
  --color--blue: #5643fd;
  --color--lilac: #7649fe;
  --color--light: #fcfbfe;
}

.name {
  color: var(--color--pink);
}
