<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<div class="content" role="main">
  <!-- Highlight Card -->

  <div>
    <h1>ASTEROIDS</h1>
    <h2>Welcome to my site about asteroidsss</h2>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/asteroids" routerLinkActive="active"
          >asteroids by date</a
        >
      </li>
      <li>
        <a routerLink="/detail/12" routerLinkActive="active">asteroid detail</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
