<div *ngIf="asteroidData">
  <h3 class="subheader">
    There were {{ asteroidData.element_count }} near earth objects on
    {{ savedDate | date }}:
  </h3>
  <p>Click on the asteroid name to find out more</p>
  <ul>
    <li *ngFor="let neo of asteroidList">
      <a class="link__pink title" routerLink="/detail/{{ neo.id }}">
        <p>
          {{ neo.name }}
        </p>
      </a>
      <p>
        {{ neo.close_approach_data[0].miss_distance.miles | number }} miles from
        earth
      </p>
    </li>
  </ul>
</div>
<div *ngIf="!asteroidData"><app-loading></app-loading></div>
