<p>select a date to see the asteroids</p>
<div>
  <label
    >date:
    <input [(ngModel)]="date" type="date" />
  </label>
  <button (click)="getAsteroidData(date)">get asteroids</button>
</div>
<div *ngIf="asteroidData">
  <h3>here is a list of all the near earth objects</h3>
  <p>
    there were {{ asteroidData.element_count }} near earth objects on
    {{ savedDate }}:
  </p>
  <ul>
    <li *ngFor="let neo of asteroidList">
      <a routerLink="/detail/{{ neo.id }}">
        <p>{{ neo.id }} {{ neo.name }}</p>
      </a>

      <p>
        {{ neo.close_approach_data[0].miss_distance.miles }} miles from earth
      </p>
    </li>
  </ul>
</div>
